/* Colors */
/* Font sizes */
/* Fonts */
/* other */
a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}

h5 {
  font-weight: 400;
  font-size: 13px;
  color: #56819f;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* modals styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: -ms-flexbox;
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  width: 1100px;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 20px 0;
  display: none;
}

.modal.show {
  display: block;
}

/* all */
body {
  margin: 0;
  background: #f5f5f2;
  font-family: "Open Sans", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #a6a6a6;
  position: relative;
}

.main_wrapper {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.container {
  background: #fff;
  margin: 0 auto 15px;
  max-width: 1170px;
}

.content-pages {
  height: calc(100% - 50px);
  overflow-y: scroll;
  margin: 15px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.content-pages section {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.content-pages section.active {
  display: block;
}

.cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.container__top {
  position: relative;
}

.container__top p {
  padding: 15px;
  text-transform: uppercase;
  margin: 0;
}

.container__top:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0px;
  background: #e3e3e3;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
}

input:focus {
  border-color: #f58220;
}

label {
  color: #333333;
}

label input[type="checkbox"] {
  position: absolute;
  margin: 0;
  width: 14px;
  height: 14px;
  opacity: 0;
}

label input[type="checkbox"] + .checkbox_background {
  display: inline-block;
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #e3e3e3;
  position: relative;
  top: 2px;
  cursor: pointer;
  margin-right: 15px;
}

label input[type="checkbox"] + .checkbox_background i {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 10px;
  color: #fff;
  z-index: 100;
  color: transparent;
}

label input[type="checkbox"]:checked + .checkbox_background {
  background-color: #04ae00;
  border: 1px solid #04ae00;
}

label input[type="checkbox"]:checked + .checkbox_background i {
  color: #fff;
}

/* media queires */
@media (max-width: 740px) {
  body {
    width: 100vw;
  }
  .sidebar {
    height: 52px;
  }
  .sidebar.active {
    height: 100vh;
  }
  .content {
    height: calc(100% - 52px);
    width: 100%;
  }
  .main_wrapper {
    display: block;
  }
  .navigation {
    width: 100%;
    height: 60px;
  }
  .top_bar {
    display: none;
  }
  .content-pages {
    height: 100%;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* Components */
.btn {
  color: #fff;
  background-color: #f58220;
  border-radius: 5px;
  width: 130px;
  min-height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-shadow: .5px .5px .5px orange;
  font-weight: 100;
  cursor: pointer;
  margin: 20px auto;
  outline: none;
}

.btn__refresh {
  width: 40px;
  height: 40px;
  padding-top: 2px;
}

.btn__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 15px;
  background-color: #e3e3e3;
  text-shadow: none;
  margin: 0;
  margin-left: 6px;
  font-size: 13px;
  border: none;
  border-radius: 2px;
  color: #fdfdfd;
}

.btn__save {
  margin: 0;
  margin-left: 6px;
  font-size: 13px;
  border-radius: 2px;
  border-color: #f58220;
}

.time__interval {
  position: relative;
  padding: 26px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.time__interval .date__wrapper {
  display: inline-block;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 6px 14px;
}

.time__interval input {
  border: none;
  position: relative;
  width: 130px;
}

.time__interval input:first-of-type::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  right: 18px;
  background: #e3e3e3;
}

.time__interval button {
  display: inline-block;
}

.time__interval:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  background: #e3e3e3;
}

@media (max-width: 740px) {
  .time__interval {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
  }
  .date__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex: 100%;
        flex: 100%;
  }
}

.key__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f58220;
}

.dot_none {
  background: #59b66d;
}

.dot_low {
  background: #80bfca;
}

/* Sections */
.navigation {
  background: #191919;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  position: relative;
}

.navigation .nav_logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .nav_logo i {
  font-size: 23px;
  margin: 0 10px 0 20px;
}

.navigation .nav_logo a {
  color: #a6a6a6;
}

.navigation .nav_logo .logo_image {
  cursor: pointer;
}

.navigation .nav_container {
  margin-bottom: 60px;
  position: relative;
}

.navigation .nav_container a.active .nav_section {
  background: #333333;
}

.navigation .nav_container a.active .marker {
  visibility: visible;
}

.navigation .nav_container a.active p, .navigation .nav_container a.active i {
  color: #fff;
}

.navigation .nav_container::after {
  position: absolute;
  content: ' ';
  top: 110%;
  left: 0;
  height: 2px;
  width: 100%;
  background: #333333;
}

.navigation .nav_section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 40px;
}

.navigation .nav_section .marker {
  display: inline-block;
  height: 100%;
  width: 8px;
  background: #f58220;
  visibility: hidden;
}

.navigation .nav_section p {
  color: #999999;
  display: inline-block;
  margin-left: 10px;
}

.navigation .nav_section i {
  padding-left: 18px;
  color: #a6a6a6;
}

.navigation .nav_section:hover {
  background: #333333;
}

.navigation .nav_section:hover .marker {
  visibility: visible;
}

.navigation .nav_section:hover p, .navigation .nav_section:hover i {
  color: #fff;
}

.navigation .nav_user {
  padding-left: 18px;
  font-size: 14px;
  position: relative;
}

.navigation .avatar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
      flex: 1 1;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .avatar .admin_photo {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.navigation .avatar .key__dot {
  position: absolute;
  top: 0;
  right: -2px;
}

.navigation .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation .nav_infoNavi {
  display: none;
  padding-top: 40px;
}

.navigation .nav_infoNavi .nav_section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.navigation .nav_infoNavi a, .navigation .nav_infoNavi h2, .navigation .nav_infoNavi h5 {
  margin-right: 20px;
  color: #999999;
}

.navigation .nav_infoNavi .icon-notification {
  position: relative;
}

.navigation .nav_infoNavi .key__dot {
  position: absolute;
  top: 5px;
  left: 47%;
}

@media (max-width: 740px) {
  .nav_user::after {
    position: absolute;
    content: ' ';
    top: 130%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #333333;
  }
  .nav_logo {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .horizontal_wrapper {
    display: none;
  }
  .horizontal_wrapper.show {
    display: block;
    padding-bottom: 25px;
  }
  .horizontal_wrapper.show .nav_infoNavi {
    display: block;
  }
}

.top_bar {
  background: #fff;
  padding: 0 10px;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  position: relative;
}

.top_bar .head {
  width: 100%;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}

.top_bar .head a, .top_bar .head p {
  color: #a6a6a6;
  display: inline-block;
  margin: 14px 6px;
}

.top_bar .head h5, .top_bar .head h2 {
  display: inline-block;
  margin: 4px 6px;
}

.top_bar .head .main-info {
  position: relative;
  height: 100%;
  display: inline-block;
  margin-right: 35px;
}

.top_bar .head .main-info:last-child {
  margin-right: 5px;
}

.top_bar .head .main-info a {
  font-size: 16px;
  position: relative;
}

.top_bar .head .main-info .key__dot {
  position: absolute;
  right: 4px;
  top: 26%;
}

.top_bar .head .main-info::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  left: -18px;
  background: #e3e3e3;
}

@media (max-width: 740px) {
  .top_bar {
    display: none;
  }
}

.chart_container {
  width: 700px;
  margin: 40px auto 20px;
}

.chart_container .row {
  margin: 16px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: 50%;
      flex: 50%;
}

.chart_container .row .chart_box {
  position: relative;
  width: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.chart_container .row .chart_box h3 {
  display: inline-block;
  margin: 0;
}

.chart_container .row .chart_box span {
  color: #333333;
}

.chart_container .row .chart_box:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0px;
  background: #e3e3e3;
}

.chart_container .row h3 {
  margin: 0;
}

.chart__keys {
  margin: 45px 0;
}

.chart__keys .keys {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.chart__keys .chart__key {
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 25px;
  display: inline-block;
}

.chart__keys .shaded {
  background: #f3f3f1;
}

.chart__keys p {
  display: inline-block;
  margin: 0 5px 0 10px;
}

.chart__keys .earned {
  color: #56819f;
}

.chart__image {
  height: 300px;
  max-width: 600px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.chart__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 740px) {
  .chart_container {
    padding: 20px;
    width: 100%;
  }
  .chart_container .chart__keys {
    width: 30%;
  }
  .chart_container .chart__keys .keys {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0;
  }
  .chart_container .chart__keys .chart__key {
    -ms-flex: 100%;
        flex: 100%;
    margin: 4px 5px;
  }
  .chart_container .chart__image {
    width: 100%;
    margin: 0;
    overflow-x: scroll;
  }
  .chart_container .chart__image img {
    width: 600px;
  }
  .chart_container .row {
    margin: 0;
  }
  .chart_container .chart_box {
    -ms-flex: 100%;
        flex: 100%;
    margin: 12px 0;
  }
  .chart_container .chart_box h3 {
    padding-bottom: 10px;
  }
}

.container__links {
  width: 65%;
  margin: 0 auto;
  padding: 20px 0;
}

.container__links .btn {
  padding: 0;
  margin: 0 auto;
}

.listOfLinks__container {
  padding: 20px 0;
}

.website__link {
  position: relative;
}

.website__link:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 0px;
  background: #e3e3e3;
}

.website__link .link__cont {
  display: inline-block;
  width: 30%;
  margin-right: 60px;
  margin-left: 20px;
}

.website__link .link__icons {
  margin-right: 20px;
  width: 50px;
  margin-left: 30px;
}

.website__link a {
  color: #56819f;
  cursor: pointer;
}

.website__link .link__options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  visibility: hidden;
}

.website__link p {
  display: inline-block;
  cursor: pointer;
}

.website__link p:first-of-type {
  color: #f58220;
}

.website__link:hover {
  background: #f1f3f3;
}

.website__link:hover .link__options {
  visibility: visible;
}

.website__link:last-of-type:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #e3e3e3;
}

@media (max-width: 740px) {
  .website__link {
    padding-top: 10px;
  }
  .website__link .link__cont {
    display: block;
  }
  .website__link .link__name, .website__link .link__wrapper {
    width: 100%;
  }
  .container__links {
    text-align: left;
    padding-bottom: 8px;
  }
}

.container__content {
  margin: 0 auto;
  padding-bottom: 15px;
}

.container__content .container__section {
  position: relative;
  margin: 30px auto 100px;
}

.container__content .container__section::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: -60px;
  background: #e3e3e3;
}

.container__content .container__form__row {
  max-width: 45%;
  margin: 30px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 20px;
}

.container__content .container__form__row h3 {
  -ms-flex: 30%;
      flex: 30%;
  max-width: 30%;
}

.container__content .container__form__row input {
  -ms-flex: 66%;
      flex: 66%;
  max-width: 66%;
  height: 38px;
}

@media (max-width: 740px) {
  .container__content .container__form__row {
    height: 50px;
    margin: 20px auto;
  }
  .container__content .container__form__row h3, .container__content .container__form__row input {
    margin: 0 auto;
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
  .container__content .container__section {
    position: relative;
    margin: 20px auto 70px;
  }
  .container__content .container__section::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: -40px;
    background: #e3e3e3;
  }
}

.advert_pop h3 {
  margin-top: 0;
}

.advert_pop .container__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.advert_pop .container__top div {
  display: inline-block;
  margin: 15px;
}

.pop-up__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  padding: 15px 15px 0;
}

.pop-up__header .box {
  -ms-flex: 33.33%;
      flex: 33.33%;
  max-width: 40%;
  margin-bottom: 20px;
}

.pop-up__header::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #e3e3e3;
}

.pop-up__header .box_lang {
  -ms-flex: 10%;
      flex: 10%;
  max-width: 10%;
  margin-bottom: 20px;
  margin-right: 15px;
}

.pop-up__header select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 30px 5px 10px;
  width: 100%;
  background-image: url("../../images/icons/arrow-down-small.svg");
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: right 5px center;
  color: #333333;
  cursor: pointer;
}

.pop-up__header input {
  padding: 5px 10px;
  width: 95%;
}

.pop-up__header input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 12px;
}

.pop-up__header input::placeholder {
  color: #a6a6a6;
  font-size: 12px;
}

.pop-up__header input[type="select"] {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/icons/arrow-down-small.svg");
  padding: 5px 30px 5px 10px;
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

/* links */
.checkboxes-container {
  padding: 30px 15px 0;
  /* scrollbar */
  /* width */
  /* Track */
  /* Handle */
}

.checkboxes-container ::-webkit-scrollbar {
  width: 10px;
}

.checkboxes-container ::-webkit-scrollbar-track {
  background: #e3e3e3;
}

.checkboxes-container ::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

.checkboxes-container .checkboxes-container__content {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 34px;
}

.checkboxes-container .checkboxes_column {
  -ms-flex: 32%;
      flex: 32%;
  max-width: 32%;
}

.box_option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 10px 15px;
}

.box_option .icon-show {
  color: #56819f;
  visibility: hidden;
}

.box_option:hover {
  background-color: #f2f2f2;
}

.box_option:hover .icon-show {
  visibility: visible;
  cursor: pointer;
}

.checkboxes__submit {
  padding: 0 15px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 20px;
}

.checkboxes__submit input {
  -ms-flex: 82%;
      flex: 82%;
  max-width: 82%;
  height: 30px;
}

.checkboxes__submit input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 12px;
}

.checkboxes__submit input::placeholder {
  color: #a6a6a6;
  font-size: 12px;
}

.checkboxes__submit .btn {
  min-height: 30px;
}

.checkboxes__submit .btn__link {
  -ms-flex: 11%;
      flex: 11%;
  max-width: 11%;
}

.checkboxes__submit .btn__save {
  -ms-flex: 6%;
      flex: 6%;
  max-width: 6%;
}

.checkboxes__submit::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  top: -20px;
  background: #e3e3e3;
}

/* banners */
.banners-checkboxes-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 15px;
  height: 300px;
  width: 100%;
}

.banners-checkboxes-container ::-webkit-scrollbar {
  width: 10px;
}

.banners-checkboxes-container ::-webkit-scrollbar-track {
  background: #e3e3e3;
}

.banners-checkboxes-container ::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

.banners-checkboxes-container .banners-column {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 50%;
  padding-bottom: 20px;
}

.banners-checkboxes-container .checkboxes-container__content {
  padding: 15px 0;
}

.banners-checkboxes-container .checkboxes_column {
  max-width: 100%;
  height: 200px;
  overflow-y: scroll;
}

/* quit */
.pop-up_log {
  max-width: 300px;
  max-height: 200px;
  padding: 15px 0;
}

.pop-up_log .popup-log__title {
  padding: 0 15px;
  position: relative;
}

.pop-up_log .popup-log__title h3 {
  margin: 0;
}

.pop-up_log .popup-log__title::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -15px;
  background: #e3e3e3;
}

.pop-up_log .pop-up_log__content {
  width: 100%;
  padding: 30px 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.pop-up_log .pop-up_log__content .btn {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 30%;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.pop-up_log .pop-up_log__content .btn__link {
  background: #979797;
}

/* login */
.log-in {
  max-width: 600px;
}

.log-in h3 {
  text-transform: uppercase;
}

.log-in .pop-up_log__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 auto;
}

.log-in .pop-up_log__content input, .log-in .pop-up_log__content button {
  height: 40px;
  margin-left: 0;
}

.log-in .pop-up_log__content input {
  margin-right: 8px;
  max-width: 40%;
}

.log-in .pop-up_log__content input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 13px;
}

.log-in .pop-up_log__content input::placeholder {
  color: #a6a6a6;
  font-size: 13px;
}

.log-in .pop-up_log__content input.login_name {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../images/icons/login.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 8%;
  padding: 10px 5px 10px 20px;
  text-indent: 20px;
  width: 200px;
}

.log-in .pop-up_log__content input.password {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../images/icons/password.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 12%;
  padding: 10px 5px 10px 30px;
  text-indent: 20px;
  width: 200px;
}

.log-in .pop-up_log__content .btn {
  border-radius: 5px;
  margin-right: 0;
  max-width: 20%;
}

.container-payout {
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

.payout__head {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex: 25%;
      flex: 25%;
  padding: 30px 15px;
}

.payout__head .payout__head-box {
  max-width: 130px;
  -ms-flex: 25%;
      flex: 25%;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
}

.payout__head .payout__head-box p, .payout__head .payout__head-box div {
  display: inline-block;
  margin: 0;
}

.payout__head .payout__head-box p {
  margin-right: 10px;
  color: #b2b2b2;
  font-weight: 600;
  font-size: 12px;
}

.payout__head .payout__head-box .arrow {
  font-size: 10px;
  margin: auto 0;
}

.payout__head .payout__head-box:hover {
  background: #f5f5f2;
}

.payout__head .payout__head-box:hover p {
  color: #333333;
}

.payout-data {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex: 25%;
      flex: 25%;
  position: relative;
  padding: 15px 15px;
}

.payout-data:hover {
  background: #f1f3f3;
}

.payout-data::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 0;
  background: #e3e3e3;
}

.payout-data:last-of-type::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  background: #e3e3e3;
}

.payout-data .payout__box {
  max-width: 130px;
  -ms-flex: 25%;
      flex: 25%;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  color: #333333;
  font-size: 11px;
}

.payout__navi {
  padding: 20px 0 0;
  width: 50%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.payout__navi div {
  -ms-flex: 8%;
      flex: 8%;
  max-width: 8%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.payout__navi div:hover {
  background: #f5f5f2;
}

.payout__navi .navNumber {
  color: #56819f;
}

.payout__navi .navNumber.active {
  color: #999999;
  background: #f5f5f2;
}

.payout__navi .icon-arrow-left:hover, .payout__navi .icon-arrow-right:hover {
  background: #f5f5f2;
}

.container__postback {
  padding: 30px 15px;
  position: relative;
}

.container__postback.noPadContainer {
  padding: 0;
}

.container__postback:last-of-type {
  height: 250px;
}

.container__postback:last-of-type h3 {
  margin: 15px 15px 20px;
}

.container__postback:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0px;
  background: #e3e3e3;
}

.container__postback p {
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 12px;
}

.container__postback .postback__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.container__postback .postback__wrapper:last-of-type {
  height: 100%;
}

.container__postback .postback__box {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 49%;
  margin-bottom: 20px;
}

.container__postback .postback__box textarea {
  width: 100%;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  padding: 15px;
  resize: none;
}

.container__postback .postback__box textarea:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 13px;
}

.container__postback .postback__box textarea::placeholder {
  color: #a6a6a6;
  font-size: 13px;
}

.container__postback .postback__boxy {
  -ms-flex: 33.33%;
      flex: 33.33%;
  max-width: 32%;
}

.container__postback .postback__boxy input {
  width: 100%;
  border-radius: 2px;
  height: 40px;
}

.container__postback .postback__boxy input:-ms-input-placeholder {
  color: #333333;
  padding: 7px 2px;
  font-size: 13px;
}

.container__postback .postback__boxy input::placeholder {
  color: #333333;
  padding: 7px 2px;
  font-size: 13px;
}

.container__postback .postback__boxy input[type="select"] {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/icons/arrow-down-small.svg");
  padding: 5px 30px 5px 10px;
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.container__postback .postback__column {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 49%;
  height: 100%;
  padding: 10px 25px 30px 15px;
}

.container__postback .postback__column span {
  text-transform: uppercase;
  color: red;
}

.container__postback .postback__column:first-of-type {
  position: relative;
  padding-right: 20px;
}

.container__postback .postback__column:first-of-type:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  right: 0;
  top: 0px;
  background: #e3e3e3;
}

.container__postback .postback__column:first-of-type ::-webkit-scrollbar {
  width: 10px;
}

.container__postback .postback__column:first-of-type ::-webkit-scrollbar-track {
  background: #e3e3e3;
}

.container__postback .postback__column:first-of-type ::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

.container__postback .postback__column .checkboxes_column {
  max-width: 100%;
  height: 170px;
  overflow-y: scroll;
}

.container__postback .range__values {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.container__postback .range-slider .back-slider {
  width: 100%;
  height: 3px;
  background: #f3f3f1;
  position: relative;
}

.postback__footer {
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}

.postback__footer .btn {
  color: #f3f3f1;
  margin: 0 20px;
  height: 40px;
  border-radius: 2px;
}

.e-range {
  position: relative;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  height: 2px;
  border: none;
  cursor: pointer;
  z-index: 999999;
}

.e-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, #f58220, #f58220) 100% 100%/100% 3px no-repeat transparent;
}

.e-range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  padding-top: 40px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #f58220;
  margin-top: -6.5px;
  box-shadow: 1px 0 0 -5px white, 2px 0 0 -5px white, 3px 0 0 -5px white, 4px 0 0 -5px white, 5px 0 0 -5px white, 6px 0 0 -5px white, 7px 0 0 -5px white, 8px 0 0 -5px white, 9px 0 0 -5px white, 10px 0 0 -5px white, 11px 0 0 -5px white, 12px 0 0 -5px white, 13px 0 0 -5px white, 14px 0 0 -5px white, 15px 0 0 -5px white, 16px 0 0 -5px white, 17px 0 0 -5px white, 18px 0 0 -5px white, 19px 0 0 -5px white, 20px 0 0 -5px white, 21px 0 0 -5px white, 22px 0 0 -5px white, 23px 0 0 -5px white, 24px 0 0 -5px white, 25px 0 0 -5px white, 26px 0 0 -5px white, 27px 0 0 -5px white, 28px 0 0 -5px white, 29px 0 0 -5px white, 30px 0 0 -5px white, 31px 0 0 -5px white, 32px 0 0 -5px white, 33px 0 0 -5px white, 34px 0 0 -5px white, 35px 0 0 -5px white, 36px 0 0 -5px white, 37px 0 0 -5px white, 38px 0 0 -5px white, 39px 0 0 -5px white, 40px 0 0 -5px white, 41px 0 0 -5px white, 42px 0 0 -5px white, 43px 0 0 -5px white, 44px 0 0 -5px white, 45px 0 0 -5px white, 46px 0 0 -5px white, 47px 0 0 -5px white, 48px 0 0 -5px white, 49px 0 0 -5px white, 50px 0 0 -5px white, 51px 0 0 -5px white, 52px 0 0 -5px white, 53px 0 0 -5px white, 54px 0 0 -5px white, 55px 0 0 -5px white, 56px 0 0 -5px white, 57px 0 0 -5px white, 58px 0 0 -5px white, 59px 0 0 -5px white, 60px 0 0 -5px white, 61px 0 0 -5px white, 62px 0 0 -5px white, 63px 0 0 -5px white, 64px 0 0 -5px white, 65px 0 0 -5px white, 66px 0 0 -5px white, 67px 0 0 -5px white, 68px 0 0 -5px white, 69px 0 0 -5px white, 70px 0 0 -5px white, 71px 0 0 -5px white, 72px 0 0 -5px white, 73px 0 0 -5px white, 74px 0 0 -5px white, 75px 0 0 -5px white, 76px 0 0 -5px white, 77px 0 0 -5px white, 78px 0 0 -5px white, 79px 0 0 -5px white, 80px 0 0 -5px white, 81px 0 0 -5px white, 82px 0 0 -5px white, 83px 0 0 -5px white, 84px 0 0 -5px white, 85px 0 0 -5px white, 86px 0 0 -5px white, 87px 0 0 -5px white, 88px 0 0 -5px white, 89px 0 0 -5px white, 90px 0 0 -5px white, 91px 0 0 -5px white, 92px 0 0 -5px white, 93px 0 0 -5px white, 94px 0 0 -5px white, 95px 0 0 -5px white, 96px 0 0 -5px white, 97px 0 0 -5px white, 98px 0 0 -5px white, 99px 0 0 -5px white, 100px 0 0 -5px white, 101px 0 0 -5px white, 102px 0 0 -5px white, 103px 0 0 -5px white, 104px 0 0 -5px white, 105px 0 0 -5px white, 106px 0 0 -5px white, 107px 0 0 -5px white, 108px 0 0 -5px white, 109px 0 0 -5px white, 110px 0 0 -5px white, 111px 0 0 -5px white, 112px 0 0 -5px white, 113px 0 0 -5px white, 114px 0 0 -5px white, 115px 0 0 -5px white, 116px 0 0 -5px white, 117px 0 0 -5px white, 118px 0 0 -5px white, 119px 0 0 -5px white, 120px 0 0 -5px white, 121px 0 0 -5px white, 122px 0 0 -5px white, 123px 0 0 -5px white, 124px 0 0 -5px white, 125px 0 0 -5px white, 126px 0 0 -5px white, 127px 0 0 -5px white, 128px 0 0 -5px white, 129px 0 0 -5px white, 130px 0 0 -5px white, 131px 0 0 -5px white, 132px 0 0 -5px white, 133px 0 0 -5px white, 134px 0 0 -5px white, 135px 0 0 -5px white, 136px 0 0 -5px white, 137px 0 0 -5px white, 138px 0 0 -5px white, 139px 0 0 -5px white, 140px 0 0 -5px white, 141px 0 0 -5px white, 142px 0 0 -5px white, 143px 0 0 -5px white, 144px 0 0 -5px white, 145px 0 0 -5px white, 146px 0 0 -5px white, 147px 0 0 -5px white, 148px 0 0 -5px white, 149px 0 0 -5px white, 150px 0 0 -5px white, 151px 0 0 -5px white, 152px 0 0 -5px white, 153px 0 0 -5px white, 154px 0 0 -5px white, 155px 0 0 -5px white, 156px 0 0 -5px white, 157px 0 0 -5px white, 158px 0 0 -5px white, 159px 0 0 -5px white, 160px 0 0 -5px white, 161px 0 0 -5px white, 162px 0 0 -5px white, 163px 0 0 -5px white, 164px 0 0 -5px white, 165px 0 0 -5px white, 166px 0 0 -5px white, 167px 0 0 -5px white, 168px 0 0 -5px white, 169px 0 0 -5px white, 170px 0 0 -5px white, 171px 0 0 -5px white, 172px 0 0 -5px white, 173px 0 0 -5px white, 174px 0 0 -5px white, 175px 0 0 -5px white, 176px 0 0 -5px white, 177px 0 0 -5px white, 178px 0 0 -5px white, 179px 0 0 -5px white, 180px 0 0 -5px white, 181px 0 0 -5px white, 182px 0 0 -5px white, 183px 0 0 -5px white, 184px 0 0 -5px white, 185px 0 0 -5px white, 186px 0 0 -5px white, 187px 0 0 -5px white, 188px 0 0 -5px white, 189px 0 0 -5px white, 190px 0 0 -5px white, 191px 0 0 -5px white, 192px 0 0 -5px white, 193px 0 0 -5px white, 194px 0 0 -5px white, 195px 0 0 -5px white, 196px 0 0 -5px white, 197px 0 0 -5px white, 198px 0 0 -5px white, 199px 0 0 -5px white, 200px 0 0 -5px white, 201px 0 0 -5px white, 202px 0 0 -5px white, 203px 0 0 -5px white, 204px 0 0 -5px white, 205px 0 0 -5px white, 206px 0 0 -5px white, 207px 0 0 -5px white, 208px 0 0 -5px white, 209px 0 0 -5px white, 210px 0 0 -5px white, 211px 0 0 -5px white, 212px 0 0 -5px white, 213px 0 0 -5px white, 214px 0 0 -5px white, 215px 0 0 -5px white, 216px 0 0 -5px white, 217px 0 0 -5px white, 218px 0 0 -5px white, 219px 0 0 -5px white, 220px 0 0 -5px white, 221px 0 0 -5px white, 222px 0 0 -5px white, 223px 0 0 -5px white, 224px 0 0 -5px white, 225px 0 0 -5px white, 226px 0 0 -5px white, 227px 0 0 -5px white, 228px 0 0 -5px white, 229px 0 0 -5px white, 230px 0 0 -5px white, 231px 0 0 -5px white, 232px 0 0 -5px white, 233px 0 0 -5px white, 234px 0 0 -5px white, 235px 0 0 -5px white, 236px 0 0 -5px white, 237px 0 0 -5px white, 238px 0 0 -5px white, 239px 0 0 -5px white, 240px 0 0 -5px white, 241px 0 0 -5px white, 242px 0 0 -5px white, 243px 0 0 -5px white, 244px 0 0 -5px white, 245px 0 0 -5px white, 246px 0 0 -5px white, 247px 0 0 -5px white, 248px 0 0 -5px white, 249px 0 0 -5px white, 250px 0 0 -5px white, 251px 0 0 -5px white, 252px 0 0 -5px white, 253px 0 0 -5px white, 254px 0 0 -5px white, 255px 0 0 -5px white, 256px 0 0 -5px white, 257px 0 0 -5px white, 258px 0 0 -5px white, 259px 0 0 -5px white, 260px 0 0 -5px white, 261px 0 0 -5px white, 262px 0 0 -5px white, 263px 0 0 -5px white, 264px 0 0 -5px white, 265px 0 0 -5px white, 266px 0 0 -5px white, 267px 0 0 -5px white, 268px 0 0 -5px white, 269px 0 0 -5px white, 270px 0 0 -5px white, 271px 0 0 -5px white, 272px 0 0 -5px white, 273px 0 0 -5px white, 274px 0 0 -5px white, 275px 0 0 -5px white, 276px 0 0 -5px white, 277px 0 0 -5px white, 278px 0 0 -5px white, 279px 0 0 -5px white, 280px 0 0 -5px white, 281px 0 0 -5px white, 282px 0 0 -5px white, 283px 0 0 -5px white, 284px 0 0 -5px white, 285px 0 0 -5px white, 286px 0 0 -5px white, 287px 0 0 -5px white, 288px 0 0 -5px white, 289px 0 0 -5px white, 290px 0 0 -5px white, 291px 0 0 -5px white, 292px 0 0 -5px white, 293px 0 0 -5px white, 294px 0 0 -5px white, 295px 0 0 -5px white, 296px 0 0 -5px white, 297px 0 0 -5px white, 298px 0 0 -5px white, 299px 0 0 -5px white, 300px 0 0 -5px white, 301px 0 0 -5px white, 302px 0 0 -5px white, 303px 0 0 -5px white, 304px 0 0 -5px white, 305px 0 0 -5px white, 306px 0 0 -5px white, 307px 0 0 -5px white, 308px 0 0 -5px white, 309px 0 0 -5px white, 310px 0 0 -5px white, 311px 0 0 -5px white, 312px 0 0 -5px white, 313px 0 0 -5px white, 314px 0 0 -5px white, 315px 0 0 -5px white, 316px 0 0 -5px white, 317px 0 0 -5px white, 318px 0 0 -5px white, 319px 0 0 -5px white, 320px 0 0 -5px white, 321px 0 0 -5px white, 322px 0 0 -5px white, 323px 0 0 -5px white, 324px 0 0 -5px white, 325px 0 0 -5px white, 326px 0 0 -5px white, 327px 0 0 -5px white, 328px 0 0 -5px white, 329px 0 0 -5px white, 330px 0 0 -5px white, 331px 0 0 -5px white, 332px 0 0 -5px white, 333px 0 0 -5px white, 334px 0 0 -5px white, 335px 0 0 -5px white, 336px 0 0 -5px white, 337px 0 0 -5px white, 338px 0 0 -5px white, 339px 0 0 -5px white, 340px 0 0 -5px white, 341px 0 0 -5px white, 342px 0 0 -5px white, 343px 0 0 -5px white, 344px 0 0 -5px white, 345px 0 0 -5px white, 346px 0 0 -5px white, 347px 0 0 -5px white, 348px 0 0 -5px white, 349px 0 0 -5px white, 350px 0 0 -5px white, 351px 0 0 -5px white, 352px 0 0 -5px white, 353px 0 0 -5px white, 354px 0 0 -5px white, 355px 0 0 -5px white, 356px 0 0 -5px white, 357px 0 0 -5px white, 358px 0 0 -5px white, 359px 0 0 -5px white, 360px 0 0 -5px white, 361px 0 0 -5px white, 362px 0 0 -5px white, 363px 0 0 -5px white, 364px 0 0 -5px white, 365px 0 0 -5px white, 366px 0 0 -5px white, 367px 0 0 -5px white, 368px 0 0 -5px white, 369px 0 0 -5px white, 370px 0 0 -5px white, 371px 0 0 -5px white, 372px 0 0 -5px white, 373px 0 0 -5px white, 374px 0 0 -5px white, 375px 0 0 -5px white, 376px 0 0 -5px white, 377px 0 0 -5px white, 378px 0 0 -5px white, 379px 0 0 -5px white, 380px 0 0 -5px white, 381px 0 0 -5px white, 382px 0 0 -5px white, 383px 0 0 -5px white, 384px 0 0 -5px white, 385px 0 0 -5px white, 386px 0 0 -5px white, 387px 0 0 -5px white, 388px 0 0 -5px white, 389px 0 0 -5px white, 390px 0 0 -5px white, 391px 0 0 -5px white, 392px 0 0 -5px white, 393px 0 0 -5px white, 394px 0 0 -5px white, 395px 0 0 -5px white, 396px 0 0 -5px white, 397px 0 0 -5px white, 398px 0 0 -5px white, 399px 0 0 -5px white, 400px 0 0 -5px white, 401px 0 0 -5px white, 402px 0 0 -5px white, 403px 0 0 -5px white, 404px 0 0 -5px white, 405px 0 0 -5px white, 406px 0 0 -5px white, 407px 0 0 -5px white, 408px 0 0 -5px white, 409px 0 0 -5px white, 410px 0 0 -5px white, 411px 0 0 -5px white, 412px 0 0 -5px white, 413px 0 0 -5px white, 414px 0 0 -5px white, 415px 0 0 -5px white, 416px 0 0 -5px white, 417px 0 0 -5px white, 418px 0 0 -5px white, 419px 0 0 -5px white, 420px 0 0 -5px white, 421px 0 0 -5px white, 422px 0 0 -5px white, 423px 0 0 -5px white, 424px 0 0 -5px white, 425px 0 0 -5px white, 426px 0 0 -5px white, 427px 0 0 -5px white, 428px 0 0 -5px white, 429px 0 0 -5px white, 430px 0 0 -5px white, 431px 0 0 -5px white, 432px 0 0 -5px white, 433px 0 0 -5px white, 434px 0 0 -5px white, 435px 0 0 -5px white, 436px 0 0 -5px white, 437px 0 0 -5px white, 438px 0 0 -5px white, 439px 0 0 -5px white, 440px 0 0 -5px white, 441px 0 0 -5px white, 442px 0 0 -5px white, 443px 0 0 -5px white, 444px 0 0 -5px white, 445px 0 0 -5px white, 446px 0 0 -5px white, 447px 0 0 -5px white, 448px 0 0 -5px white, 449px 0 0 -5px white, 450px 0 0 -5px white, 451px 0 0 -5px white, 452px 0 0 -5px white, 453px 0 0 -5px white, 454px 0 0 -5px white, 455px 0 0 -5px white, 456px 0 0 -5px white, 457px 0 0 -5px white, 458px 0 0 -5px white, 459px 0 0 -5px white, 460px 0 0 -5px white, 461px 0 0 -5px white, 462px 0 0 -5px white, 463px 0 0 -5px white, 464px 0 0 -5px white, 465px 0 0 -5px white, 466px 0 0 -5px white, 467px 0 0 -5px white, 468px 0 0 -5px white, 469px 0 0 -5px white, 470px 0 0 -5px white, 471px 0 0 -5px white, 472px 0 0 -5px white, 473px 0 0 -5px white, 474px 0 0 -5px white, 475px 0 0 -5px white, 476px 0 0 -5px white, 477px 0 0 -5px white, 478px 0 0 -5px white, 479px 0 0 -5px white, 480px 0 0 -5px white, 481px 0 0 -5px white, 482px 0 0 -5px white, 483px 0 0 -5px white, 484px 0 0 -5px white, 485px 0 0 -5px white, 486px 0 0 -5px white, 487px 0 0 -5px white, 488px 0 0 -5px white, 489px 0 0 -5px white, 490px 0 0 -5px white, 491px 0 0 -5px white, 492px 0 0 -5px white, 493px 0 0 -5px white, 494px 0 0 -5px white, 495px 0 0 -5px white, 496px 0 0 -5px white, 497px 0 0 -5px white, 498px 0 0 -5px white, 499px 0 0 -5px white, 500px 0 0 -5px white, 501px 0 0 -5px white, 502px 0 0 -5px white, 503px 0 0 -5px white, 504px 0 0 -5px white, 505px 0 0 -5px white, 506px 0 0 -5px white, 507px 0 0 -5px white, 508px 0 0 -5px white, 509px 0 0 -5px white, 510px 0 0 -5px white, 511px 0 0 -5px white, 512px 0 0 -5px white, 513px 0 0 -5px white, 514px 0 0 -5px white, 515px 0 0 -5px white, 516px 0 0 -5px white, 517px 0 0 -5px white, 518px 0 0 -5px white, 519px 0 0 -5px white, 520px 0 0 -5px white, 521px 0 0 -5px white, 522px 0 0 -5px white, 523px 0 0 -5px white, 524px 0 0 -5px white, 525px 0 0 -5px white, 526px 0 0 -5px white, 527px 0 0 -5px white, 528px 0 0 -5px white, 529px 0 0 -5px white, 530px 0 0 -5px white, 531px 0 0 -5px white, 532px 0 0 -5px white, 533px 0 0 -5px white, 534px 0 0 -5px white, 535px 0 0 -5px white, 536px 0 0 -5px white, 537px 0 0 -5px white, 538px 0 0 -5px white, 539px 0 0 -5px white, 540px 0 0 -5px white, 541px 0 0 -5px white, 542px 0 0 -5px white, 543px 0 0 -5px white, 544px 0 0 -5px white, 545px 0 0 -5px white, 546px 0 0 -5px white, 547px 0 0 -5px white, 548px 0 0 -5px white, 549px 0 0 -5px white, 550px 0 0 -5px white, 551px 0 0 -5px white, 552px 0 0 -5px white, 553px 0 0 -5px white, 554px 0 0 -5px white, 555px 0 0 -5px white, 556px 0 0 -5px white, 557px 0 0 -5px white, 558px 0 0 -5px white, 559px 0 0 -5px white, 560px 0 0 -5px white, 561px 0 0 -5px white, 562px 0 0 -5px white, 563px 0 0 -5px white, 564px 0 0 -5px white, 565px 0 0 -5px white, 566px 0 0 -5px white, 567px 0 0 -5px white, 568px 0 0 -5px white, 569px 0 0 -5px white, 570px 0 0 -5px white, 571px 0 0 -5px white, 572px 0 0 -5px white, 573px 0 0 -5px white, 574px 0 0 -5px white, 575px 0 0 -5px white, 576px 0 0 -5px white, 577px 0 0 -5px white, 578px 0 0 -5px white, 579px 0 0 -5px white, 580px 0 0 -5px white, 581px 0 0 -5px white, 582px 0 0 -5px white, 583px 0 0 -5px white, 584px 0 0 -5px white, 585px 0 0 -5px white, 586px 0 0 -5px white, 587px 0 0 -5px white, 588px 0 0 -5px white, 589px 0 0 -5px white, 590px 0 0 -5px white, 591px 0 0 -5px white, 592px 0 0 -5px white, 593px 0 0 -5px white, 594px 0 0 -5px white, 595px 0 0 -5px white, 596px 0 0 -5px white, 597px 0 0 -5px white, 598px 0 0 -5px white, 599px 0 0 -5px white, 600px 0 0 -5px white, 601px 0 0 -5px white, 602px 0 0 -5px white, 603px 0 0 -5px white, 604px 0 0 -5px white, 605px 0 0 -5px white, 606px 0 0 -5px white, 607px 0 0 -5px white, 608px 0 0 -5px white, 609px 0 0 -5px white, 610px 0 0 -5px white, 611px 0 0 -5px white, 612px 0 0 -5px white, 613px 0 0 -5px white, 614px 0 0 -5px white, 615px 0 0 -5px white, 616px 0 0 -5px white, 617px 0 0 -5px white, 618px 0 0 -5px white, 619px 0 0 -5px white, 620px 0 0 -5px white, 621px 0 0 -5px white, 622px 0 0 -5px white, 623px 0 0 -5px white, 624px 0 0 -5px white, 625px 0 0 -5px white, 626px 0 0 -5px white, 627px 0 0 -5px white, 628px 0 0 -5px white, 629px 0 0 -5px white, 630px 0 0 -5px white, 631px 0 0 -5px white, 632px 0 0 -5px white, 633px 0 0 -5px white, 634px 0 0 -5px white, 635px 0 0 -5px white, 636px 0 0 -5px white, 637px 0 0 -5px white, 638px 0 0 -5px white, 639px 0 0 -5px white, 640px 0 0 -5px white, 641px 0 0 -5px white, 642px 0 0 -5px white, 643px 0 0 -5px white, 644px 0 0 -5px white, 645px 0 0 -5px white, 646px 0 0 -5px white, 647px 0 0 -5px white, 648px 0 0 -5px white, 649px 0 0 -5px white, 650px 0 0 -5px white, 651px 0 0 -5px white, 652px 0 0 -5px white, 653px 0 0 -5px white, 654px 0 0 -5px white, 655px 0 0 -5px white, 656px 0 0 -5px white, 657px 0 0 -5px white, 658px 0 0 -5px white, 659px 0 0 -5px white, 660px 0 0 -5px white, 661px 0 0 -5px white, 662px 0 0 -5px white, 663px 0 0 -5px white, 664px 0 0 -5px white, 665px 0 0 -5px white, 666px 0 0 -5px white, 667px 0 0 -5px white, 668px 0 0 -5px white, 669px 0 0 -5px white, 670px 0 0 -5px white, 671px 0 0 -5px white, 672px 0 0 -5px white, 673px 0 0 -5px white, 674px 0 0 -5px white, 675px 0 0 -5px white, 676px 0 0 -5px white, 677px 0 0 -5px white, 678px 0 0 -5px white, 679px 0 0 -5px white, 680px 0 0 -5px white, 681px 0 0 -5px white, 682px 0 0 -5px white, 683px 0 0 -5px white, 684px 0 0 -5px white, 685px 0 0 -5px white, 686px 0 0 -5px white, 687px 0 0 -5px white, 688px 0 0 -5px white, 689px 0 0 -5px white, 690px 0 0 -5px white, 691px 0 0 -5px white, 692px 0 0 -5px white, 693px 0 0 -5px white, 694px 0 0 -5px white, 695px 0 0 -5px white, 696px 0 0 -5px white, 697px 0 0 -5px white, 698px 0 0 -5px white, 699px 0 0 -5px white, 700px 0 0 -5px white, 701px 0 0 -5px white, 702px 0 0 -5px white, 703px 0 0 -5px white, 704px 0 0 -5px white, 705px 0 0 -5px white, 706px 0 0 -5px white, 707px 0 0 -5px white, 708px 0 0 -5px white, 709px 0 0 -5px white, 710px 0 0 -5px white, 711px 0 0 -5px white, 712px 0 0 -5px white, 713px 0 0 -5px white, 714px 0 0 -5px white, 715px 0 0 -5px white, 716px 0 0 -5px white, 717px 0 0 -5px white, 718px 0 0 -5px white, 719px 0 0 -5px white, 720px 0 0 -5px white, 721px 0 0 -5px white, 722px 0 0 -5px white, 723px 0 0 -5px white, 724px 0 0 -5px white, 725px 0 0 -5px white, 726px 0 0 -5px white, 727px 0 0 -5px white, 728px 0 0 -5px white, 729px 0 0 -5px white, 730px 0 0 -5px white, 731px 0 0 -5px white, 732px 0 0 -5px white, 733px 0 0 -5px white, 734px 0 0 -5px white, 735px 0 0 -5px white, 736px 0 0 -5px white, 737px 0 0 -5px white, 738px 0 0 -5px white, 739px 0 0 -5px white, 740px 0 0 -5px white, 741px 0 0 -5px white, 742px 0 0 -5px white, 743px 0 0 -5px white, 744px 0 0 -5px white, 745px 0 0 -5px white, 746px 0 0 -5px white, 747px 0 0 -5px white, 748px 0 0 -5px white, 749px 0 0 -5px white, 750px 0 0 -5px white, 751px 0 0 -5px white, 752px 0 0 -5px white, 753px 0 0 -5px white, 754px 0 0 -5px white, 755px 0 0 -5px white, 756px 0 0 -5px white, 757px 0 0 -5px white, 758px 0 0 -5px white, 759px 0 0 -5px white, 760px 0 0 -5px white, 761px 0 0 -5px white, 762px 0 0 -5px white, 763px 0 0 -5px white, 764px 0 0 -5px white, 765px 0 0 -5px white, 766px 0 0 -5px white, 767px 0 0 -5px white, 768px 0 0 -5px white, 769px 0 0 -5px white, 770px 0 0 -5px white, 771px 0 0 -5px white, 772px 0 0 -5px white, 773px 0 0 -5px white, 774px 0 0 -5px white, 775px 0 0 -5px white, 776px 0 0 -5px white, 777px 0 0 -5px white, 778px 0 0 -5px white, 779px 0 0 -5px white, 780px 0 0 -5px white, 781px 0 0 -5px white, 782px 0 0 -5px white, 783px 0 0 -5px white, 784px 0 0 -5px white, 785px 0 0 -5px white, 786px 0 0 -5px white, 787px 0 0 -5px white, 788px 0 0 -5px white, 789px 0 0 -5px white, 790px 0 0 -5px white, 791px 0 0 -5px white, 792px 0 0 -5px white, 793px 0 0 -5px white, 794px 0 0 -5px white, 795px 0 0 -5px white, 796px 0 0 -5px white, 797px 0 0 -5px white, 798px 0 0 -5px white, 799px 0 0 -5px white, 800px 0 0 -5px white, 801px 0 0 -5px white, 802px 0 0 -5px white, 803px 0 0 -5px white, 804px 0 0 -5px white, 805px 0 0 -5px white, 806px 0 0 -5px white, 807px 0 0 -5px white, 808px 0 0 -5px white, 809px 0 0 -5px white, 810px 0 0 -5px white, 811px 0 0 -5px white, 812px 0 0 -5px white, 813px 0 0 -5px white, 814px 0 0 -5px white, 815px 0 0 -5px white, 816px 0 0 -5px white, 817px 0 0 -5px white, 818px 0 0 -5px white, 819px 0 0 -5px white, 820px 0 0 -5px white, 821px 0 0 -5px white, 822px 0 0 -5px white, 823px 0 0 -5px white, 824px 0 0 -5px white, 825px 0 0 -5px white, 826px 0 0 -5px white, 827px 0 0 -5px white, 828px 0 0 -5px white, 829px 0 0 -5px white, 830px 0 0 -5px white, 831px 0 0 -5px white, 832px 0 0 -5px white, 833px 0 0 -5px white, 834px 0 0 -5px white, 835px 0 0 -5px white, 836px 0 0 -5px white, 837px 0 0 -5px white, 838px 0 0 -5px white, 839px 0 0 -5px white, 840px 0 0 -5px white, 841px 0 0 -5px white, 842px 0 0 -5px white, 843px 0 0 -5px white, 844px 0 0 -5px white, 845px 0 0 -5px white, 846px 0 0 -5px white, 847px 0 0 -5px white, 848px 0 0 -5px white, 849px 0 0 -5px white, 850px 0 0 -5px white, 851px 0 0 -5px white, 852px 0 0 -5px white, 853px 0 0 -5px white, 854px 0 0 -5px white, 855px 0 0 -5px white, 856px 0 0 -5px white, 857px 0 0 -5px white, 858px 0 0 -5px white, 859px 0 0 -5px white, 860px 0 0 -5px white, 861px 0 0 -5px white, 862px 0 0 -5px white, 863px 0 0 -5px white, 864px 0 0 -5px white, 865px 0 0 -5px white, 866px 0 0 -5px white, 867px 0 0 -5px white, 868px 0 0 -5px white, 869px 0 0 -5px white, 870px 0 0 -5px white, 871px 0 0 -5px white, 872px 0 0 -5px white, 873px 0 0 -5px white, 874px 0 0 -5px white, 875px 0 0 -5px white, 876px 0 0 -5px white, 877px 0 0 -5px white, 878px 0 0 -5px white, 879px 0 0 -5px white, 880px 0 0 -5px white, 881px 0 0 -5px white, 882px 0 0 -5px white, 883px 0 0 -5px white, 884px 0 0 -5px white, 885px 0 0 -5px white, 886px 0 0 -5px white, 887px 0 0 -5px white, 888px 0 0 -5px white, 889px 0 0 -5px white, 890px 0 0 -5px white, 891px 0 0 -5px white, 892px 0 0 -5px white, 893px 0 0 -5px white, 894px 0 0 -5px white, 895px 0 0 -5px white, 896px 0 0 -5px white, 897px 0 0 -5px white, 898px 0 0 -5px white, 899px 0 0 -5px white, 900px 0 0 -5px white, 901px 0 0 -5px white, 902px 0 0 -5px white, 903px 0 0 -5px white, 904px 0 0 -5px white, 905px 0 0 -5px white, 906px 0 0 -5px white, 907px 0 0 -5px white, 908px 0 0 -5px white, 909px 0 0 -5px white, 910px 0 0 -5px white, 911px 0 0 -5px white, 912px 0 0 -5px white, 913px 0 0 -5px white, 914px 0 0 -5px white, 915px 0 0 -5px white, 916px 0 0 -5px white, 917px 0 0 -5px white, 918px 0 0 -5px white, 919px 0 0 -5px white, 920px 0 0 -5px white, 921px 0 0 -5px white, 922px 0 0 -5px white, 923px 0 0 -5px white, 924px 0 0 -5px white, 925px 0 0 -5px white, 926px 0 0 -5px white, 927px 0 0 -5px white, 928px 0 0 -5px white, 929px 0 0 -5px white, 930px 0 0 -5px white, 931px 0 0 -5px white, 932px 0 0 -5px white, 933px 0 0 -5px white, 934px 0 0 -5px white, 935px 0 0 -5px white, 936px 0 0 -5px white, 937px 0 0 -5px white, 938px 0 0 -5px white, 939px 0 0 -5px white, 940px 0 0 -5px white, 941px 0 0 -5px white, 942px 0 0 -5px white, 943px 0 0 -5px white, 944px 0 0 -5px white, 945px 0 0 -5px white, 946px 0 0 -5px white, 947px 0 0 -5px white, 948px 0 0 -5px white, 949px 0 0 -5px white, 950px 0 0 -5px white, 951px 0 0 -5px white, 952px 0 0 -5px white, 953px 0 0 -5px white, 954px 0 0 -5px white, 955px 0 0 -5px white, 956px 0 0 -5px white, 957px 0 0 -5px white, 958px 0 0 -5px white, 959px 0 0 -5px white, 960px 0 0 -5px white, 961px 0 0 -5px white, 962px 0 0 -5px white, 963px 0 0 -5px white, 964px 0 0 -5px white, 965px 0 0 -5px white, 966px 0 0 -5px white, 967px 0 0 -5px white, 968px 0 0 -5px white, 969px 0 0 -5px white, 970px 0 0 -5px white, 971px 0 0 -5px white, 972px 0 0 -5px white, 973px 0 0 -5px white, 974px 0 0 -5px white, 975px 0 0 -5px white, 976px 0 0 -5px white, 977px 0 0 -5px white, 978px 0 0 -5px white, 979px 0 0 -5px white, 980px 0 0 -5px white, 981px 0 0 -5px white, 982px 0 0 -5px white, 983px 0 0 -5px white, 984px 0 0 -5px white, 985px 0 0 -5px white, 986px 0 0 -5px white, 987px 0 0 -5px white, 988px 0 0 -5px white, 989px 0 0 -5px white, 990px 0 0 -5px white, 991px 0 0 -5px white, 992px 0 0 -5px white, 993px 0 0 -5px white, 994px 0 0 -5px white, 995px 0 0 -5px white, 996px 0 0 -5px white, 997px 0 0 -5px white, 998px 0 0 -5px white, 999px 0 0 -5px white, 1000px 0 0 -5px white;
  transition: background-color 150ms;
}

/* Pages / Views */
/*# sourceMappingURL=style.css.map */