a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    font-size: 20px;
}

h3 {
   font-size: 14px; 
   font-weight: 600;
}

h5 {
    font-weight: 400;
    font-size: 13px;
    color: $color-add;
}
