*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $brand-font; 
  font-size: $paragraph-font-size;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $paragraph-color;
}

.container {
  background: $color-light;
  margin: 14px;
  padding-bottom: 14px;
} 

.content-pages {
  height: calc(100% - #{$header-height});
  overflow: scroll;
}

section {
  display: none;
  width: 100%;
  margin: 0 auto;
  &.active {
    display: block;
  }
}

.cont {
  display: flex;
  justify-content: center;
}

.container__top {
  position: relative;

  p {
    padding: 14px;
    text-transform: uppercase;
    margin: 0;
  }
  
  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0px;
    background: $color-border;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_wrapper {
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}


@media (max-width: 740px) {
  .main_wrapper {
    display: block;
  }
  .navigation {
    width: 100%;
    height: 60px;
  }
 
  .top_bar {
    display: none;
  }

  .content-pages {
    height: 100%;
  }
}