*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $brand-font; 
  font-size: $paragraph-font-size;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $paragraph-color;
}

.container {
  background: $color-light;
  margin: 14px;
} 

.content-pages {
  height: calc(100% - #{$header-height});
  overflow: scroll;
}

section {
  display: none;
  &.active {
    display: block;
  }
}

.cont {
  display: flex;
  justify-content: center;
}

.container__top {
  position: relative;

  p {
    padding: 14px;
    text-transform: uppercase;
    margin: 0;
  }
  
  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0px;
    background: $color-border;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_wrapper {
  height: 100vh;
  display: flex;
}

.content {
  margin: 0 auto;
  width: 100%;
}


.key__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $brand-main-color;
}

.dot_none {
  background: $color-dot-none;
}

.dot_low {
  background: $color-dot-low;
}


.links__container {
  width: 65%;
  margin: 0 auto;
  .btn {
    margin: 20px auto; 
   }
}

.website__link {
  
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 0px;
    background: $color-border;
  }

  .link__cont {
    display: inline-block;
    width: 30%;
    margin-right: 60px;
    margin-left: 20px;
  }
  .link__icons {
    margin-right: 20px;
    width: 50px;
    margin-left: 30px;
  }

  a {
    color: $color-add;
    cursor: pointer;
  }

  .link__options {
    display: flex;
    justify-content: space-between;
    visibility: hidden;

    p {
      display: inline-block;
      cursor: pointer;
      &:first-of-type {
        color: $brand-main-color;
      }
    }
  }
}
.website__link:hover {
  background: $color-link-background;
  .link__options {
    visibility: visible;
  }
} 
.website__link:last-of-type {
  
  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $color-border;
  }
}