/* Colors */
$color-light: #fff;
$paragraph-color: #a6a6a6;
$paragraph-color-dark: #999999;
$brand-main-color: #f58220;
$background-color: #f5f5f2;
$navback-color: #191919;
$color-add: #56819f;
$color-border: #e3e3e3;
$color-shade: #f3f3f1;
$color-dot-low: #80bfca;
$color-dot-none: #59b66d;
$color-link-background: #f1f3f3;
$color-checked: #04ae00;
$color-label: #333333;
$checkbox-shade: #f2f2f2;
$btn-quit: #979797;

/* Font sizes */
$paragraph-font-size: 14px;
$font-light: 100;
$font-semilight: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* other */
$radius: 2px;
$header-height: 50px;