.btn {
    color: $color-light;
    background-color: $brand-main-color;
    border-radius: 5px;
    width: 130px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: .5px .5px .5px orange;
    font-weight: $font-light;
    cursor: pointer;
}

.btn__refresh {
    width: 40px;
    height: 40px;
    padding-top: 2px;
}
