.time__interval {
    position: relative;
    padding: 26px 0;
    display: flex;
    justify-content: center;
  
    .date__wrapper {
      display: inline-block;
      border: 1px solid $color-border;
      border-radius: 5px;
      padding: 6px 14px;
    }
  
    input {
      border: none;
      position: relative;
      width: 130px;
      &:first-of-type::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        right: 18px;
        background: $color-border;
      }
    }
  
    button {
      display: inline-block;
    }
    &:after {
      position: absolute;
          content: '';
          height: 1px;
          width: 100%;
          bottom: 0;
          background: $color-border;
    }
  }
  
  @media (max-width: 740px) {
    .time__interval {
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 0 10px;
    }
    .date__form {
      display: flex;
      flex-wrap: wrap;
      flex: 100%;
    }
  }