.status {
    width: 40px;
    height: 18px;
    border-radius: $radius;
    background-color: #04ae00;
    color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 200;
}